body{
    background: linear-gradient(to right , dodgerblue  , rgb(189, 2, 226));
    height: auto;
}
.navbar{
    width: 97.6%;
    background-color: rgba(0, 0, 0, 0.664);
    position: fixed;
    top: 0;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20.5px;
}
.logo{
    color: white;
}
.watchedlist{
    width: 400px;
    display: flex;
    justify-content: space-around;
}
.w{
    background-color: transparent;
    color: white;
    border: 0px;
    height: 40px;
    font-size: 20px;
}
.add:hover{
    background-color:rgb(3, 116, 3) ;
    cursor: pointer;
}
.w:hover{
    color: rgba(255, 255, 255, 0.748);
    cursor: pointer;
}
.add{
    background-color: rgb(4, 160, 4);
    color: white;
    border: 0px;
    height: 40px;
    font-size: 20px;
    border-radius: 12px;
    width: 60px;
}
.films , .film{
    text-align: center;
    
}
.fc{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}
.watched{
    width: 80px;
    height: 30px;
    color: white;
    background-color: green;
    border-radius: 5px;
    cursor: pointer;
}
.watched:hover{
    background-color: green;
    transform: scale(1.1);
}
.inputs{
    width: 300px;
    height: 40px;
    background-color: rgb(40, 40, 119);
    color: white;
    margin-top: 80px;
    font-size: 20px;
    margin-bottom: 20px;
}
.poster{
    width: 300px;

}
.container{
    margin-top:90px ;
}